CHECK Point 2.txt
[{"id":"84f3a635.27a4d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3d85b8f5.4580d8","type":"inject","z":"84f3a635.27a4d8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":100,"wires":[["5b422b9a.155d04"]]},{"id":"5b422b9a.155d04","type":"function","z":"84f3a635.27a4d8","name":"Payload","func":"msg.headers={\n    deviceKey: \"SkqT0MePX02v0uPJ\"\n    };\n    \nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["fc37cad7.464778"]]},{"id":"fc37cad7.464778","type":"http request","z":"84f3a635.27a4d8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DC6w4z9g/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":530,"y":100,"wires":[["ded03d9.8ed04c","60bc63c0.44583c"]]},{"id":"ded03d9.8ed04c","type":"debug","z":"84f3a635.27a4d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":160,"wires":[]},{"id":"60bc63c0.44583c","type":"http response","z":"84f3a635.27a4d8","name":"","statusCode":"","headers":{},"x":700,"y":80,"wires":[]}]