Flow 1.txt
[{"id":"76afe578.6b5edc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9cdc003e.21f86","type":"rpi-gpio out","z":"76afe578.6b5edc","name":"","pin":"12","set":"","level":"0","freq":"","out":"out","x":820,"y":160,"wires":[]},{"id":"a7c73c48.9dbad","type":"switch","z":"76afe578.6b5edc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":160,"wires":[["93ce257e.f149b8"],["3f1f36f8.fb300a"]]},{"id":"93ce257e.f149b8","type":"change","z":"76afe578.6b5edc","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["9cdc003e.21f86"]]},{"id":"3f1f36f8.fb300a","type":"change","z":"76afe578.6b5edc","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["9cdc003e.21f86"]]},{"id":"11c1ad09.527fa3","type":"rpi-gpio in","z":"76afe578.6b5edc","name":"","pin":"16","intype":"tri","debounce":"25","read":false,"x":140,"y":160,"wires":[["a7c73c48.9dbad"]]}]