Flow 3.txt
[{"id":"c48ac375.05643","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6c86101b.153c7","type":"inject","z":"c48ac375.05643","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":80,"wires":[["69b24f84.13df9"]]},{"id":"69b24f84.13df9","type":"function","z":"c48ac375.05643","name":"Payload","func":"msg.headers={\n    deviceKey: \"SkqT0MePX02v0uPJ\"\n    };\nmsg.payload=\"Temperature,,55.3\";    \nreturn msg;","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["9fd03b36.28fc18"]]},{"id":"9fd03b36.28fc18","type":"http request","z":"c48ac375.05643","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DC6w4z9g/datapoints.csv","tls":"","proxy":"","authType":"","x":510,"y":80,"wires":[["f3dd0e0b.8a264","557c0473.8c92dc"]]},{"id":"f3dd0e0b.8a264","type":"debug","z":"c48ac375.05643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":710,"y":140,"wires":[]},{"id":"557c0473.8c92dc","type":"http response","z":"c48ac375.05643","name":"","statusCode":"","headers":{},"x":680,"y":60,"wires":[]}]